:root {
    --body-bg: #ff94a6;
    --body-bg-gradient: radial-gradient(circle, rgba(255,148,166,1) 0%, rgba(255,222,228,1) 75%);
    --card-bg: rgba(255, 255, 255, 0.45);
    --option-bg: #ff94a6;
    --option-color: black;
}

body.dark {
    --body-bg: #2c3e50;
    --body-bg-gradient: radial-gradient(circle, rgba(44,62,80,1) 0%, rgba(22,34,48,1) 75%);
    --card-bg: rgba(0, 0, 0, 0.35);
    --option-bg: rgba(22,34,48);
    --option-color: rgb(255, 255, 255);
}

/* FONDO GENERAL */
body {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: sans-serif;
    padding-top: 70px;
    background: var(--body-bg-gradient);
}

/* CONTENEDOR DEL HOME */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    gap: 25px;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0px;
    font-size: 19px;
}

/* LISTA DE MENSAJES */
#mensajes-publicados ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filtro-asignatura {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 650px;
    margin: 0 auto 25px auto;

    backdrop-filter: blur(4px);
    border-radius: 12px;
    padding: 10px 20px;
}

#subject-filter {
    background-color: var(--card-bg);
    color: var(--option-color);
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}

#button-filter {
    background-color: var(--card-bg);
    color: var(--option-color);
    border: none;
    padding: 8px 15px;
    border-radius: 25px;
    cursor: pointer;
}

#button-filter:hover {
    opacity: 0.8;
}

.filtro-asignatura label {
    font-weight: bold;
    color: var(--option-color);
}

/* MENSAJE INDIVIDUAL */

.mensaje {
    width: 850px;
    max-width: 850px;

    background: var(--card-bg);
    padding: 18px 20px;
    margin-bottom: 15px;
    border-radius: 12px;
    backdrop-filter: blur(4px);

    display: flex;
    flex-direction: column;
    gap: 6px;

    text-align: left;
}

p {
    margin: 2px;
}

.asignatura {
    font-size: 0.95em;
    margin: 0;
    opacity: 0.85;
}

.mensaje .texto,
.mensaje {
  overflow-wrap: anywhere;
  word-break: break-word;
}