.invalid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    gap: 25px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    width: 850px;
    max-width: 850px;

    background: var(--card-bg);
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 12px;
    backdrop-filter: blur(4px);

    display: flex;
    flex-direction: column;
    gap: 6px;

    text-align: left;
}

.volver-btn {
    background: var(--card-bg);
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--option-color);
    font-weight: bold;
    backdrop-filter: blur(4px);
}

.autor {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
}

.asignatura {
    font-size: 0.95em;
    margin: 0;
    opacity: 0.85;
}

.texto {
    font-size: 1em;
    margin: 5px 0 0 0;
    line-height: 1.4;
    overflow-wrap: break-word;
}